In [1]:
import pandas as pd
import pyarrow.parquet as pq
from sqlalchemy import create_engine

In [2]:
trips = pq.read_table("yellow_tripdata_2022-01.parquet")
df = trips.to_pandas()

FileNotFoundError: yellow_tripdata_2022-01.parquet

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [4]:
engine = create_engine("postgresql://root:root@localhost:5431/ny_taxi")
engine.connect()

In [13]:
print(pd.io.sql.get_schema(df, name = "yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [17]:
df.head(0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

0

In [26]:
df.to_sql(name="yellow_taxi_data", if_exists="replace", con=engine, chunksize=5)

KeyboardInterrupt:

In [24]:
df.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.00,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.00,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.00,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.00,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.00,0.3,30.30,2.5,0.0
5,1,2022-01-01 00:40:15,2022-01-01 01:09:48,1.0,10.30,1.0,N,138,161,1,33.0,3.0,0.5,13.00,6.55,0.3,56.35,2.5,0.0
6,2,2022-01-01 00:20:50,2022-01-01 00:34:58,1.0,5.07,1.0,N,233,87,1,17.0,0.5,0.5,5.20,0.00,0.3,26.00,2.5,0.0
7,2,2022-01-01 00:13:04,2022-01-01 00:22:45,1.0,2.02,1.0,N,238,152,2,9.0,0.5,0.5,0.00,0.00,0.3,12.80,2.5,0.0
8,2,2022-01-01 00:30:02,2022-01-01 00:44:49,1.0,2.71,1.0,N,166,236,1,12.0,0.5,0.5,2.25,0.00,0.3,18.05,2.5,0.0
9,2,2022-01-01 00:48:52,2022-01-01 00:53:28,1.0,0.78,1.0,N,236,141,2,5.0,0.5,0.5,0.00,0.00,0.3,8.80,2.5,0.0

In [29]:
df.to_csv("out.csv")

In [31]:
df_csv = pd.read_csv("out.csv", nrows=100)

In [35]:
df_csv.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [34]:
df_csv.drop("Unnamed: 0", axis="columns", inplace=True)

In [38]:
print(pd.io.sql.get_schema(df_csv, name = "yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [44]:
df_csv.tpep_dropoff_datetime = pd.to_datetime(df_csv.tpep_dropoff_datetime)
df_csv.tpep_pickup_datetime = pd.to_datetime(df_csv.tpep_pickup_datetime)
df_csv.drop("Unnamed: 0", axis="columns", inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"

In [51]:
df_iter = pd.read_csv("out.csv", iterator=True, chunksize=100000)

In [52]:
df = next(df_iter)

In [53]:
len(df)

100000

In [54]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.drop("Unnamed: 0", axis="columns", inplace=True)

In [55]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.00,0.3,21.95,2.5,0.00
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.00,0.3,13.30,0.0,0.00
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.00,0.3,10.56,0.0,0.00
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.00,0.3,11.80,2.5,0.00
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.00,0.3,30.30,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2022-01-02 17:48:16,2022-01-02 18:04:03,1.0,3.10,1.0,N,186,236,1,13.0,2.5,0.5,3.26,0.00,0.3,19.56,2.5,0.00
99996,2,2022-01-02 17:41:15,2022-01-02 18:15:20,2.0,17.68,2.0,N,132,164,1,52.0,0.0,0.5,12.62,6.55,0.3,75.72,2.5,1.25
99997,2,2022-01-02 17:01:35,2022-01-02 17:10:33,1.0,1.66,1.0,N,48,239,1,8.5,0.0,0.5,2.95,0.00,0.3,14.75,2.5,0.00
99998,2,2022-01-02 17:13:10,2022-01-02 17:17:02,1.0,0.95,1.0,N,143,239,1,5.0,0.0,0.5,1.66,0.00,0.3,9.96,2.5,0.00
99999,2,2022-01-02 17:49:57,2022-01-02 17:53:51,1.0,1.01,1.0,N,239,238,1,5.5,0.0,0.5,1.76,0.00,0.3,10.56,2.5,0.00

In [47]:
%time df.to_sql(name="yellow_taxi_data", if_exists="append", con=engine)

CPU times: total: 2.52 s
Wall time: 11.2 s

1000

In [49]:
from time import time

In [56]:
while True:
    t_start = time()
    df = next(df_iter)
    
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.drop("Unnamed: 0", axis="columns", inplace=True)
    
    df.to_sql(name="yellow_taxi_data", if_exists="append", con=engine)
    
    t_end = time()
    print(f"Data chunk inserted in {t_end - t_start}")

Data chunk inserted in 11.953441619873047
Data chunk inserted in 11.441610097885132
Data chunk inserted in 11.69229769706726
Data chunk inserted in 20.834752559661865
Data chunk inserted in 11.892734289169312
Data chunk inserted in 11.654577016830444
Data chunk inserted in 12.515295028686523
Data chunk inserted in 12.091706275939941
Data chunk inserted in 11.746283292770386
Data chunk inserted in 12.034685134887695
Data chunk inserted in 12.095925569534302
Data chunk inserted in 11.681480407714844
Data chunk inserted in 12.123570203781128
Data chunk inserted in 12.261858940124512
Data chunk inserted in 12.068201780319214
Data chunk inserted in 11.648646593093872
Data chunk inserted in 12.506597757339478
Data chunk inserted in 13.322377920150757
Data chunk inserted in 12.524563312530518
Data chunk inserted in 11.605170726776123
Data chunk inserted in 12.128700256347656
Data chunk inserted in 12.959215641021729

C:\Users\MuhammadHammadAzhar\AppData\Local\Temp\ipykernel_19844\478644299.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Data chunk inserted in 13.202260732650757
Data chunk inserted in 8.34064769744873

StopIteration:

In [2]:
loc = pd.read_csv("taxi+_zone_lookup.csv")

In [3]:
loc.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [5]:
loc.to_sql(name="zones", con=engine, if_exists="replace")

265